{% include "_imports.java.j2" %}
@Entity
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@Builder
public class {{ entity }} {
    @Id
    @GeneratedValue(strategy = GenerationType.{{ pk_strategy_type }})
    private {{ pk_type }} id;
}
